<div class="stripe playlist">
  
  <!-- this will repete -->
  <div class="playlist-info">
    
    <div class="owner-info">
      <img src="/images/face.jpg" alt="hello">
      <div class="owner-detail">
        <h2 class="feature_label">Featured Playlist</h2>
        <a class="made_by" href="#">Made by @jasonmarkbeaton</a>
      </div>
        <div class="playlist_details">
        <h1>Morning Rituals</h1>
        <p>Just some things that help me get started in the morning.</p>
      </div>
    </div>
    
    <!-- this will repeat -->
    <ul class="article-mini">
      <li>
        <div class="img-div" data-image="/images/featured-photo.jpeg">
        </div>
        <div class="article-info">
          <h3>Bob Villa</h3>
          <h2>3 things to do when you get out of bed.</h2>
        </div>
        <div class="article-footer">
          <div class="time">3:54</div>
          <div class="category">Business</div>
        </div>
    	</li>
      <li>
        <div class="img-div" data-image="/images/featured-photo-2.jpeg">
        </div>
        <div class="article-info">
          <h3>Bob Villa</h3>
          <h2>3 things to do when you get out of bed.</h2>
        </div>
        <div class="article-footer">
          <div class="time">3:54</div>
          <div class="category">Business</div>
        </div>
      </li>
    </ul>
  </div>
</div>
