
/*Profile Stylings*/
.account {
  background-color: #fff;
}
.profile {
  padding: 60px 30px;
}
.stats {
  padding: 60px 30px;
}
.stats h2{
  text-align: center;
}
.stats h3 {
  text-align: center;
  font-size: 18px;
}

/*End Profile Stylings*/