<div class="container content-wrapper setup">
  <div class="panel panel-default invitation-modal">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <h1>Welcome to Hark!</h1>
          <p>Let's get you setup.</p>
          <a class="btn btn-block btn-social btn-lg btn-twitter">
            <i class="fa fa-twitter"></i> Sign up with Twitter
          </a>
          <a class="btn btn-block btn-social btn-lg btn-facebook">
            <i class="fa fa-facebook"></i> Sign up with Facebook
          </a>
          <a href="#" class="setup-email">Or signup with your email.</a>
        </div>
      </div>
    </div>
  </div>
</div>