
.navbar {
  background-color: #fff;
}

.creator {
  background-color: #fff;
  min-height: 200px;
  margin: 20px 0;
}

.profile img {
  display: inline-block;
  width: 50px;
  border-radius: 50px;
}

.profile h2 {
  font-size: 18px;
}

.creator h3 {
  letter-spacing: 1.5;
  font-size: 11px;
  color: #3e3e3e;
}

.profile h4 {
  font-size: 12px;
}

.article {
  background-color: #fff;
  min-height: 200px;
}
.article-details {
  padding:30px; 
}
.article-img{
  padding: 30px;
}
.article img {

}