<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to image_tag("logo.svg", {class: "navbar-brand" }), '/' %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to("Explore", "#") %></li>
      <li class="active"><%= link_to("Playlist", "#") %></li>
    </ul>
    <div class="navbar-right">
      <button type="button" class="btn btn-default navbar-btn">+</button>
      <!-- if user signed in, display user avatar and settings -->
      <%= link_to("Sign Up", new_user_registration_path) %>
      <button type="button" class="btn btn-sign-in navbar-btn" data-toggle="modal" data-target="#myModal">Sign in with Twitter</button>
      <!-- end if user signed in-->
    </div>
  </div>
</nav>
